@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .flex-end {
    @apply flex justify-end;
  }

  .body-text {
    @apply text-[16px] leading-[30px] font-normal;
  }

  .body-regular {
    @apply text-[16px] font-normal leading-[20.8px];
  }

  .body-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .extra-small {
    @apply text-[11px] font-normal leading-[13.75px] tracking-[0.355px];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[17.5px];
  }

  .small-bold {
    @apply text-[14px] font-semibold leading-[17.5px];
  }

  .base-regular {
    @apply text-[24px] font-normal leading-[31.2px];
  }

  .base-bold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .paragraph-regular {
    @apply text-[20px] font-normal leading-[36px];
  }

  .paragraph-semibold {
    @apply text-[20px] font-semibold leading-[26px];
  }

  .heading1 {
    @apply text-[64px] leading-[67.2px] font-bold;
  }

  .heading2 {
    @apply font-bold text-[48px] leading-[50.4px];
  }

  .heading3 {
    @apply font-bold sm:text-[32px] sm:leading-[33.6px] text-[28px] leading-[40px] tracking-[-0.25%];
  }

  .heading3_2 {
    @apply font-bold sm:text-[40px] sm:leading-[33.6px] text-[36px] leading-[40px] tracking-[-0.25%];
  }

  .heading4 {
    @apply font-semibold text-[20px] leading-[26px] tracking-[0.25%];
  }

  .btn-primary {
    @apply bg-black body-text text-grey px-6 py-[8px] rounded-full
    hover:bg-white hover:text-black hover:ring-black hover:ring-1 hover:ring-opacity-60 
    w-[140px] transition-colors duration-300 ease-in-out !important;
  }

  .btn-secondary {
    @apply bg-white body-text text-black px-4 py-[8px] rounded-full
    hover:bg-black hover:text-grey ring-black ring-1 ring-opacity-60 
    w-[110px] transition-colors duration-300 ease-in-out !important;
  }

  .btn-secondary-2 {
    @apply bg-black body-text text-grey px-5 py-[8px] rounded-full
    hover:bg-white hover:text-black hover:ring-black hover:ring-1 hover:ring-opacity-60 
    w-[135px] transition-colors duration-300 ease-in-out !important;
  }

  .send-message-btn {
    @apply bg-black body-text text-grey px-6 py-[10px] rounded-full mt-10
    hover:bg-white hover:text-black hover:ring-black hover:ring-1 hover:ring-opacity-60 
    w-[170px] transition-colors duration-300 ease-in-out disabled:bg-grey-100 !important;
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-primary-purple
    to-primary-pink bg-clip-text text-transparent;
  }

  .light-primary-gradient {
    @apply bg-gradient-to-r from-purple-500
    to-pink-500 bg-clip-text text-transparent;
  }

  .secondary-gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600
    to-yellow-500 bg-clip-text text-transparent;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #616161;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
